body{
    display: grid;
    place-items: center;
    background-color: rgb(247, 227, 199);
}
form{ 
    justify-content: center;
    align-items: center;
    margin: 50px 0px 0px 0px;
    background-color: rgb(248, 234, 215);
    box-shadow: 2px 2px 20px grey;
}

header{
    width: 100%;
    background-color: rgb(248, 234, 215);
    text-align: center;
    color: blue;
}
header:hover{
    width: auto;
    background-color: khaki;
    border-radius: 15%;
    padding: 0px 10px 0px 10px;
}
.gend{
    display: inline-flex;
    margin: 0px 0px 0px 5px;
}
.G{
    padding: 0px 0px 0px 0px;
}
.food{
    display: flex;
}
.choice{
    padding: 0px 0px 0px 0px;
}
label{
    padding: 0px 0px 0px 7px;
}
.form-row label,.G,.C{
    font-weight: bold;
}
button{
    transform: translateY(-20%);
    margin: 0px 0% 0px 43%;
}
#details{
    position: relative;
    margin: 40px 0px 0px 0px;
    background-color: rgb(248, 234, 215);
    box-shadow: 2px 2px 20px grey;
}

th,td{
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
